@use '../../abstracts/colors';
@use '../../abstracts/media';

//----------------------

.ptc-AttachmentThumbnail {

	img,
	video,
	object {
		display: block;
		max-width: 100%;
		border: 1px solid colors.color(grey-lighter);

		&.--is-loading {
			@extend %is-loading-media;
		}

		&.--is-error {
			@extend %is-error-media;
		}
	}

	.ptc-responsive-embed {
		@include media.responsive-iframe-wrapper(16, 9);
	}

	.fallback {
		margin: 0;
		padding: 0.3em 0.5em;
		border: 1px solid colors.color(info);
		background-color: colors.color(info-lightest);
	}

	.fallback-error {
		border-color: colors.color(danger);
		background-color: colors.color(danger-lightest);
	}

	.fallback-warning {
		border-color: colors.color(warning);
		background-color: colors.color(warning-lightest);
	}
}
