@import '../../abstracts/colors';
@import '../../abstracts/media';

//----------------------

.ptc-TaskStoriesList {

	.task-stories-list {
		display: flex;
		flex-direction: column;
		gap: 1em 0;
		list-style: none;
		margin: 0;
		padding: 0;

		img,
		video {
			display: block;
			max-width: 100%;
			border: 1px solid color(grey-lighter);
		}

		.ptc-responsive-embed {
			@include responsive-iframe-wrapper(16, 9);
		}
	}
}
