@import '../../abstracts/colors';
@import '../../abstracts/animated';

//----------------------

.ptc-TaskSingleAsync {

	.ptc-loader {
		padding: 1em 2em;
		border-radius: 10px;
		border: 2px dashed color(grey-light);
		background: color(white);
		color: color(grey-dark);

		@include loader;
	}

	.ptc-error {
		padding: 1em 2em;
		text-align: center;
		border-radius: 10px;
		border: 2px solid color(danger-light);
		background: color(danger-lightest);
		color: #b20000;
	}

	> .ptc-TaskListItem {
		margin: 0;
		padding: 0;
		border-radius: 10px;
		border: 2px solid color(grey-lighter);
		background: color(white);
		overflow: hidden;
	}
}//.ptc-TaskSingleAsync
