@import '../../abstracts/colors';
@import '../../abstracts/responsive';

//----------------------

.ptc-TaskListItem {
	display: flex;
	align-items: flex-start;
	margin: 0;
	padding: 10px 0 10px 10px;
	border-top: 1px solid color(grey-lighter);

	&.--is-complete {
		opacity: 0.6;
	}

	&:last-of-type {
		border-bottom: 1px solid color(grey-lighter);
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;
	}

	.row-number {
		min-width: 1.2em;
		margin: 0 10px 0 0;
		color: color(grey-dark);

		@include breakpoint-down(small) {
			display: none;
		}
	}

	.completed {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 10px 0 0;
		min-width: 1.15em;
		width: 1.15em;
		height: 1.15em;
		border-radius: 999px;
		border: 1px solid color(grey);
		background: color(grey-lightest);
		color: color(grey-dark);

		svg {
			width: 66.66666%;
			height: auto;
			overflow: visible;

			path {
				fill: currentColor;
			}
		}

		&[data-completed="true"] {
			background: color(success-light);
			border-color: color(success-dark);
			color: color(success-dark);
		}
	}

	.body {
		flex: 1;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		min-width: 0;

		> *:empty {

			@include breakpoint-down(large) {
				// Remove empty height caused by empty elements.
				display: none !important;
			}
		}

		> *:not(:empty) {
			margin-right: 10px;

			@include breakpoint(large) {
				margin-right: 20px;
			}
		}

		> *:not(:first-child) {
			margin-top: 10px;

			@include breakpoint(large) {
				margin-top: 0;
			}
		}
	}

	.task-name {
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
		flex-basis: 100%;
		width: 100%;
		word-break: break-word;

		@include breakpoint(large) {
			flex: 4;
			flex-basis: auto;
			width: auto;
		}
	}//.main

	.subtask-count {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		font-size: 1em;
		color: color(grey-dark);

		@include breakpoint(large) {
			min-width: 2em;
		}

		svg {
			width: 0.7em;
			height: 0.7em;
			margin: 0 0.2em;
			overflow: visible;

			path {
				fill: currentColor;
			}
		}
	}

	.assignee {
		display: flex;
		align-items: center;
		overflow: hidden;

		@include breakpoint(large) {
			flex: 2;
			max-width: 10em;
		}

		img {
			margin-right: 5px;
			width: 28px;
			height: 28px;
			border-radius: 999px;

			@include breakpoint(large) {
				margin-right: 10px;
				width: 36px;
				height: 36px;
			}
		}

		.assignee-name {
			flex: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.due {
		max-width: 5em;
		text-align: center;

		@include breakpoint(large) {
			flex: 1;
		}
	}
}//.ptc-TaskListItem
