@import '../../abstracts/elements';
@import '../../abstracts/colors';

//----------------------

.ptc-TaskPinToPostBar {
	padding: 10px;
	background: color(grey-lightest);
	border-top: 1px solid color(grey-light);
	border-bottom: 1px solid color(grey-light);

	.toolbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
	}

	.ptc-TaskPinToPostForm {
		flex: 1;
	}

	button.creation-form-toggle {
		@include btn-circle-icon(2.15em, success);
		background: color(success);
		color: color(white);

		&.--is-active,
		&:hover {
			color: color(success-dark);
		}
	}

	&.--is-showing-creation-form {

		button.creation-form-toggle {
			border-color: color(danger);
			background: color(danger);

			&.--is-active,
			&:hover {
				color: color(danger-dark);
			}
		}
	}
}//end ptc-TaskFilters
