@import '../../abstracts/colors';
@import '../../abstracts/responsive';

//----------------------

.ptc-TaskStoriesModal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	word-break: break-word;
	user-select: text !important;
	z-index: 999 !important;

	> .modal-overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		background: rgba(color(black), .7);
		z-index: 0;
	}

	> .modal-content {
		display: flex;
		flex-direction: column;
		position: static;
		box-sizing: border-box;
		max-height: calc(100% - 2rem);
		max-width: 600px;
		width: 100%;
		margin: 1rem;
		padding: 0;
		background: color(white);
		border-radius: 7px;
		z-index: 1;

		@include breakpoint(medium) {
			max-height: 80%;
		}

		> .modal-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0;
			padding: 0.5rem 1rem;
			border-bottom: 1px solid color(grey-lighter);

			@include breakpoint(medium) {
				padding: 0.5rem 2rem;
			}

			> .modal-close {
				cursor: pointer !important;
				color: inherit !important;
				background: none !important;
				border: none !important;
				outline: none !important;
				box-shadow: none !important;
				opacity: 0.5;
				margin: 0 0 0 auto;
				padding: 0;

				@include breakpoint(medium) {
					margin-right: -1rem;
				}

				&:hover {
					opacity: 1;
				}

				svg {
					display: block;
					height: 1.5em;
					fill: currentColor;
				}
			}
		}

		> .modal-body {
			flex: 1;
			overflow: hidden auto;
			padding: 1rem;

			@include breakpoint(medium) {
				padding: 2rem;
			}
		}
	}
}
