@use '../../abstracts/colors';
@use '../../abstracts/animated';

//----------------------

.ptc-TaskSingleAsync {

	.ptc-loader {
		padding: 1em 2em;
		border-radius: 10px;
		border: 2px dashed colors.color(grey-light);
		background: colors.color(white);
		color: colors.color(grey-dark);

		@include animated.loader;
	}

	.ptc-error {
		padding: 1em 2em;
		text-align: center;
		border-radius: 10px;
		border: 2px solid colors.color(danger-light);
		background: colors.color(danger-lightest);
		color: #b20000;
	}

	> .ptc-TaskListItem {
		margin: 0;
		padding: 0;
		border-radius: 10px;
		border: 2px solid colors.color(grey-lighter);
		background: colors.color(white);
		overflow: hidden;
	}
}//.ptc-TaskSingleAsync
