@import '../../abstracts/colors';

//----------------------

.ptc-TaskFilters {
	padding: 0.5em;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-top: 1px solid color(grey-lighter);
	border-bottom: 1px solid color(grey-lighter);
	flex-wrap: wrap;

	button {
		cursor: pointer;
		border: 1px solid color(brand-primary);
		background: none;
		color: color(brand-primary);
		border-radius: 999px;
		padding: 0.3em 0.6em;
		font-weight: 500;
		font-size: 1em;
		margin: 0.3em;
		line-height: 1;

		&.--is-active,
		&:hover {
			background: color(brand-primary);
			color: color(white);
		}
	}
}//end ptc-TaskFilters
