@import '../../abstracts/colors';
@import '../../abstracts/elements';

//----------------------

.ptc-TaskFilters {
	padding: 0.3em;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: color(grey-lightest);
	border-top: 1px solid color(grey-light);
	border-bottom: 1px solid color(grey-light);
	flex-wrap: wrap;

	button {
		@include btn-pill-outline;
	}
}//end ptc-TaskFilters
