@import '../../abstracts/colors';
@import '../../abstracts/elements';

//----------------------

.ptc-TaskFilters {
	padding: 0.3em;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: color(grey-lightest);
	border-top: 1px solid color(grey-light);
	border-bottom: 1px solid color(grey-light);
	flex-wrap: wrap;

	button {

		&.filter-none {
			@include btn-pill-outline();
		}
		&.filter-pinned {
			@include btn-pill-outline(info);
		}
		&.filter-general {
			@include btn-pill-outline(grey);
		}
		&.filter-myTasks {
			@include btn-pill-outline(warning);
		}
		&.filter-critical {
			@include btn-pill-outline(danger);
		}
	}
}//end ptc-TaskFilters
