@use '../../abstracts/colors';

//----------------------

.ptc-NoteBox {

	&.--has-type-error {
		padding: 1em 1em 1.3em;
		background: colors.color(danger-lightest);
		color: colors.color(danger);
		border: 1px solid colors.color(danger);

		i {
			background: colors.color(danger);
		}

		p {
			margin: 0;
		}

		.note-box-cta {
			display: inline-block;
			background: colors.color(danger);
			color: colors.color(white);
			font-size: 1em;
			padding: 0.5em 1em;
			text-decoration: none;
			margin: 0.7em 0 0;
			border-radius: 999px;

			i {
				display: inline-block;
				padding: 0;
				margin-left: 0.5em;
			}
		}
	}
}//end .ptc-NoteBox
