@use '../../abstracts/colors';

//----------------------

.ptc-NoticesContainer {

	.components-notice {
		display: flex;
		align-items: center;
		font-size: 13px;
		padding: 8px 10px;
		margin: 0;
		background-color: colors.color(white);
		border-left: 4px solid colors.color(info);
		border-top: 1px solid colors.color(grey-light);

		&.is-info {
			color: colors.color(info-dark);
			border-left-color: colors.color(info);
			background-color: colors.color(white);
		}
		&.is-error {
			color: colors.color(danger);
			border-left-color: colors.color(danger);
			background-color: colors.color(danger-lightest);
		}

		&.is-dismissible {
			padding: 8px 10px;
		}

		&__dismiss {
			cursor: pointer;
			flex-shrink: 0;
			align-self: flex-start;

			&.has-icon {
				color: colors.color(grey-dark);
				padding: 0;
				min-width: auto;
				background: none;
				border: none;

				&:hover,
				&:active,
				&:focus {
					color: colors.color(black);
				}

				svg {
					fill: currentColor;
					outline: none;
				}
			}
		}

		&__content {
			flex-grow: 1;
			margin: 0 10px 0 0;
		}
	}
}
