@import 'abstracts/colors';

//----------------------

#wpbody-content {
	padding-top: 30px;
}

/* CURRENT USER */
section#ptc-asana-user {
	padding-bottom: 2em;

	div.asana-connected-profile-photo {
		background: color(grey-lightest);
		border-bottom: 1px solid color(grey-lighter);
		margin: -80px -80px 70px;
		border-radius: 7px 7px 0 0;
		position: relative;

		img {
			background: color(white);
			margin: 60px 0 -50px;
			border-radius: 50%;
			border: 5px solid color(grey-lighter);
		}

		i {
			color: color(white);
			background: #51ca58;
			border-radius: 50%;
			padding: 7px;
			border: 1px solid #31b237;
			text-shadow: 0 1px 2px #0f8613;
			position: absolute;
			bottom: -40px;
			right: 41.5%;
		}
	}

	h3 {
		margin: 2.5em 0 1em;
		font-size: 1.15em;
	}
}

/* CHOSEN WORKSPACE */
section#ptc-asana-workspace {
	padding: 0;
	background: color(grey-lightest);

	&-unauthorized,
	&-error {
		margin: 0;
	}

	p.nothing-to-see {
		background: color(white);
		margin: 0;
		padding: 2em 2em 2.3em;
		font-style: italic;
		color: color(grey-darker);
	}

	form {
		padding: 0 14px;

		> div {
			display: flex;
			align-items: center;
			align-content: center;
			margin: 7px 0;
		}

		label {
			display: inline;
			margin-left: 7px;

			i {
				margin-right: 0.3em;
			}
		}

		select {
			flex: 1;
			margin: 0 0.3em;
		}

		input[type=submit] {
			padding: 0.3em 1.3em 0.4em;
			width: auto;
			box-sizing: border-box;
			margin: 7px;
		}

		.warning-note {
			display: none;
		}
	}

	div.ptc-asana-collaborator-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		padding: 14px 14px 21px;
		border-top: 1px solid color(grey-lighter);
		background: color(white);

		&:last-of-type {
			border-radius: 0 0 7px 7px;
		}

		p {
			margin: 0;
		}

		> div {
			flex: 1;
			text-align: center;
			padding: 0.3em;
		}

		> div.user {
			display: flex;
			align-items: start;
			align-content: center;
			text-align: left;

			div.identity p {
				margin: 0;
				line-height: 1.3;
				font-weight: 600;
				font-size: 1em;

				&.roles {
					text-transform: capitalize;
					font-style: italic;
					font-weight: 400;
				}
			}

			img {
				border-radius: 50%;
				border: 1px solid color(grey-light);
				margin-right: 0.5em;
			}
		}//end .user

		> div.connection-status {

			p i {
				margin-right: 0.3em;
			}

			a i {
				margin-left: 0.5em;
				font-size: 0.9em;
			}

			&[data-status=yes] {

				p {
					color: #31b237;
					font-weight: 600;
				}
			}

			&[data-status=no] {

				p {
					color: color(grey);
				}
			}
		}//end .connection-status
	}//end .ptc-asana-collaborator-row
}//end section#ptc-asana-workspace

/* FRONTEND AUTH USER */
section#ptc-frontend-auth-user {
	padding: 0;
	background: color(grey-lightest);

	label {
		margin: 0;
		padding: 7px 21px;
	}

	form {
		padding: 14px;
		background: color(white);
		border-top: 1px solid color(grey-lighter);

		.field-group {
			display: flex;
			align-items: center;
			justify-content: center;

			select,
			input {
				margin: 7px;
			}

			select {
				flex-grow: 1;
				max-width: 100%;
			}

			input[type=submit] {
				padding: 0.3em 1.3em 0.4em;
				width: auto;
				box-sizing: border-box;
			}
		}
	}

	.help-notes {
		background: color(white);
		padding: 1px 21px 21px;
	}
}

/* ASANA DATA CACHE */
section#ptc-asana-data-cache {
	padding: 0;

	.section-title {
		margin: 0;
		padding: 7px 21px;
		background: color(grey-lightest);
		border-bottom: 1px solid color(grey-lighter);
		font-weight: 600;
	}

	form#ptc-asana-cache-duration-ttl {
		padding: 21px 21px 0;

		input[type=submit] {
			margin: 0;
			padding: 0.3em 1.3em 0.4em;
			width: auto;
			box-sizing: border-box;
		}

		.field-group {
			display: flex;
			align-items: stretch;
			justify-content: center;
			gap: 14px;

			label {
				margin: 0;
				align-self: center;
			}

			.suffixed-input-field {
				display: flex;
				flex-wrap: nowrap;
				align-items: stretch;

				input {
					margin: 0;
					border-radius: 4px 0 0 4px;
				}

				.field-suffix {
					display: block;
					padding: 5px 10px;
					border-radius: 0 4px 4px 0;
					background: color(grey-lightest);
					border: 1px solid #8c8f94;
					border-left: none;
					color: color(grey-darker);
				}
			}
		}
	}

	form#ptc-asana-data-cache-purge {
		padding: 0 21px 21px;

		input {
			display: block;
			width: 200px;
			max-width: 100%;
			margin: 0 auto 14px;
			padding: 10px 21px;
			box-sizing: border-box;
		}

		.note-box {
			margin: 0;
		}

		p.cache-purge-notice {
			padding: 21px;
			text-align: center;
			border-radius: 5px;
		}
	}
}

/* DEAUTHORIZE ACCOUNT */
section#ptc-disconnect-asana {
	padding: 0;
	border-color: color(danger);

	form {
		margin: 0;

		input {
			display: block;
			width: 200px;
			max-width: 100%;
			margin: 0 auto 14px;
			padding: 10px 21px;
			box-sizing: border-box;
		}

		.note-box {
			margin: 0;
		}

		p.disconnect-notice {
			padding: 21px;
			text-align: center;
			border-radius: 5px;
			border: none;
		}
	}
}
