@import 'abstracts/colors';

//----------------------

html, body {
	background: color(grey-lightest);
}

#wpcontent {
	padding: 5px 30px 35px;
	color: color(grey-darkest);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
	letter-spacing: 0.03em;
	color: color(grey-darkest);
	margin-bottom: 0.3em;
}

strong, b {
	font-weight: 700;
}

p.help-link {
	font-style: italic;
	margin: 0.5em;
}

p.footnote {
	font-size: 0.8em;
	color: color(grey);
	margin-top: 2em;
}

a,
a:visited {
	color: color(brand-primary);
	text-decoration: solid underline;
	text-underline-offset: 2px;
}

a:focus,
a:hover,
a:active {
	color: color(brand-primary);
}

.notice {
	padding: 0.5em 1.3em 0.6em;
	margin: 7px 0;
	background: color(white);
	color: color(grey-darkest);
}

.ptc-asana-error {
	max-width: 700px;
	margin: 7px auto;
	box-sizing: border-box;
	padding: 30px;

	h3 {
		color: #E12D39;
		margin: 0 0 7px;
	}

	p {
		margin: 0;
	}
}

section {
	background: color(white);
	border: 2px solid color(grey-lighter);
	border-radius: 7px;
	max-width: 700px;
	padding: 80px 80px 100px;
	margin: 15px auto;
	text-align: center;
	box-sizing: border-box;
}

label {
	display: block;
	font-weight: 600;
	color: color(grey-darkest);
	margin-bottom: 0.3em;
}

form input[type="text"],
form input[type="password"],
form input[type="checkbox"],
form textarea {
	color: #004440;
	outline: none;
	box-shadow: none;
	border-radius: 5px;
	border: 1px solid color(brand-primary);
	margin: 0;
	background: #edf1f7;

	&:focus {
		background: #FFF;
		box-shadow: 0 0 7px 0 color(brand-primary) !important;
	}
}

form input[type="checkbox"] {
	margin: 0 0.15em;
	position: relative;
	bottom: 1px;
}

form input[type=submit] {
	font-weight: 600;
	letter-spacing: 0.03em;
	margin: 0.7em 0 1em;
	color: #FFF;
	text-shadow: 1px 2px 2px #0ca285;
	background: #10c39f;
	width: 33%;
	border-radius: 5px;
	padding: 0.75em 1em 0.9em;
	cursor: pointer;
	border: 1px solid #0ca285;

	&:hover,
	&:active {
		background: #0ca285;
	}

	&.error {
		background: #E12D39;
		text-shadow: 1px 2px 2px #AB091E;
		border-color: #AB091E;

		&:hover,
		&:active {
			background: #CF1124;
		}
	}
}

form p.warning-note {
	color: #E67635;
	background: #FFFBEA;
	border: 1px solid #FFD3BA;
	border-radius: 3px;
	padding: 0.5em 1em;
	margin: 7px 0;

	i {
		margin-right: 0.3em;
	}
}

form p.error-note {
	color: #D64545;
	background: #FFEEEE;
	border: 1px solid #F29B9B;
	border-radius: 3px;
	padding: 0.5em 1em;
	margin: 7px 0;

	i {
		margin-right: 0.3em;
	}
}

.ptc-button-group {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
	font-size: 1.15em;
}

.ptc-asana-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1em;
	border-radius: 5px;
	border: 1px solid color(grey-dark);

	&:hover,
	&:focus,
	&:active {
		border-color: #f75a78;
		background: #f75a78;
		color: color(white);

		img {
			filter: grayscale(100%) brightness(999%);
		}
	}

	img {
		height: 1.3em;
		width: auto;
	}
}

.ptc-icon-button,
.ptc-icon-button:visited {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	padding: 0.5em 1em;
	border-radius: 5px;
	border: 1px solid color(info);
	color: color(info);
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		background: color(info);
		color: color(white);
	}

	i {
		font-size: 1.15em;
	}
}

a.ptc-button,
a.ptc-button:visited {
	display: inline-block;
	background: #627D98;
	border-radius: 999px;
	border: 1px solid #486581;
	text-shadow: 1px 2px 2px #486581;
	text-decoration: none;
	color: #FFF;
	font-size: 0.9em;
	padding: 0.2em 1.2em 0.2em;
	font-weight: 400;
	margin-top: 0.15em;

	&:hover,
	&:active {
		background: #486581;
	}

	&[disabled] {
		background: #F5F7FA;
		border-color: #9FB3C8;
		color: #9FB3C8;
		text-shadow: none;
	}
}

div.note-box {
	display: flex;
	background: #e9eff7;
	border-radius: 5px;
	margin: 7px 0;

	i {
		display: block;
		text-align: center;
		padding: 1.3em;
		width: 1.3em !important;
		background: #486581;
		color: #FFF;
		border-radius: 5px 0 0 5px;

		&::before {
			display: inline-block;
			width: 1.3em !important;
		}
	}

	p {
		padding: 1em 1.3em 1.2em;
		margin: 0;
		line-height: 1.5em;
		border: 1px solid #BCCCDC;
		border-radius: 0 5px 5px 0;
		color: #486581;
		text-align: left;
		flex: 1;
	}

	a {
		color: inherit;
	}

	&.note-box-info {

		i {
			background: #1992D4;
		}

		p {
			background: #daf0ff;
			color: #2D83AE;
			border-color: #7CC1E4;
		}
	}

	&.note-box-warning {

		i {
			background: #f3af16;
		}

		p {
			background: #fffaef;
			color: #9a6b00;
			border-color: #f3af16;
		}
	}

	&.note-box-error {

		i {
			background: #E12D39;
		}

		p {
			background: #FFEEEE;
			color: #D64545;
			border-color: #F29B9B;
		}

		.note-box-cta {
			display: inline-block;
			background: #E12D39;
			color: #fff;
			font-size: 1em;
			padding: 0.5em 1em;
			text-decoration: none;
			margin: 0.7em 0 0;
			border-radius: 999px;

			i {
				display: inline-block;
				padding: 0;
				margin-left: 0.5em;
			}
		}
	}
}//end .note-box
