@import 'abstracts/colors';

//----------------------

#dashboard-widgets .meta-box-sortables #ptc-completionist_site-tasks.postbox {
	margin-bottom: 0; // fix WordPress doubling widget's margin bottom.
}

#ptc-completionist_site-tasks .inside{
	padding: 0;
	margin: 0;

	button {
		display: inline-block;
		width: 1.25rem;
		height: 1.25rem;
		font-size: 0.9em;
		padding: 0;
		border-radius: 999px;
		outline: none;
		box-shadow: none;
		border: 1px solid color(grey-darker);
		cursor: pointer;
	}

	button[disabled],
	input[disabled],
	select[disabled],
	textarea[disabled] {
		background: color(grey-lightest);
		border-color: color(grey);
		color: color(grey);
		text-shadow: none;
	}

	button[disabled] {
		background: color(grey-lighter);
	}

	input,
	select,
	textarea {
		margin: 0;
		box-sizing: border-box;
	}

	input::placeholder {
		color: color(grey);
	}

	/* Task Categories Header */
	header {
		border-bottom: 1px solid color(grey-light);
		padding: 0;

		p {
			padding: 0;
			margin: 0;
		}

		button[data-category-task-gids] {
			border: none;
			background: color(white);

			&:hover {
				background: color(grey-lightest);
			}
		}

		/* All Tasks Category, Site Overview */
		button#all-site-tasks {
			width: 100%;
			height: auto;
			display: flex;
			border-radius: 0;
			padding: 7px 10px;
			border-bottom: 1px solid color(grey-light);

			[data-viewing-tasks=true] {
				background: color(grey-lighter);
			}

			> div.task-box-icon {
				background: color(brand-primary);
				color: color(white);
				height: 4em;
				width: 4em;
				border-radius: 999px;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: none;
			}

			&[disabled] {

				> div.task-box-icon {
					background: color(grey);
					color: color(grey-lighter);
				}

				> div.task-box-data .progress-bar-wrapper .progress-bar {
					background: color(grey);
				}
			}

			> div.task-box-icon i.fa-clipboard-list {
				font-size: 2.5em;
			}

			> div.task-box-data {
				padding: 0 10px;
				flex: 1;
				text-align: left;
				color: color(grey);

				> p {
					font-size: 1.5em;
					color: color(grey-darker);
					font-weight: 500;
				}

				> div {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: flex-start;
				}

				.progress-bar-wrapper {
					flex: 1;
					height: 5px;
					margin-right: 7px;
					border-radius: 999px;
					background: color(grey-light);

					.progress-bar {
						height: inherit;
						margin-right: 7px;
						border-radius: 999px;
						background: color(brand-primary);
					}
				}
			}

			&[data-viewing-tasks=true] {

				> div.task-box-icon {
					background: color(brand-primary);
					color: color(white);
				}

				> div.task-box-data .progress-bar-wrapper .progress-bar {
					background: color(brand-primary);
				}
			}
		}//end button#all-site-tasks

		/* Task Category Buttons */
		#ptc-asana-task-categories {
			display: flex;
			justify-content: space-evenly;
			padding: 7px 0;
			background: color(grey-lighter);

			button[data-category-task-gids] {
				height: auto;
				width: auto;
				padding-right: 10px;
				display: flex;
				color: #1F2933;
				border: 1px solid color(grey-light);

				span.task-count {
					display: inline-block;
					background: color(grey);
					width: 2em;
					height: 2em;
					border-radius: 999px;
					box-sizing: border-box;
					padding-top: 3px;
					margin-right: 7px;
				}

				&[disabled] {
					background: color(grey-lighter) !important;
					color: color(grey-dark) !important;

					span.task-count {
						background: color(grey-lighter) !important;
					}
				}
			}

			button#pinned-tasks span.task-count {
				background: color(info);
			}

			button#general-tasks span.task-count {
				background: color(grey);
			}

			button#critical-tasks span.task-count {
				background: color(danger);
			}

			button#my-tasks span.task-count {
				background: #F0B429;
			}
		}//end #ptc-asana-task-categories
	}//end header

	/* Task List */
	main#ptc-asana-task-list {

		/* Task Loader Message */
		p.task-loader,
		p.nothing-to-see {
			padding: 12px;
			color: color(grey);
			text-align: center;
			margin: 0;

			i {
				margin-right: 0.35em;
			}
		}

		section.ptc-completionist-task {
			padding: 10px 12px;
			border-bottom: 1px solid color(grey-light);
			display: flex;
			color: color(grey-darkest);

			button.mark-complete {
				background: color(grey-lightest);
				border-color: color(grey);
				color: color(grey);
			}

			> div.body {
				flex: 1;
				margin-left: 7px;

				.name {
					font-size: 1.05em;
					line-height: 1.25rem;
					font-weight: 500;

					i.fa-sticky-note {
						color: #F0B429;
					}
				}

				.description {
					margin: 7px 0 10px;
				}

				.task-actions {
					margin: 7px 0 3px;

					a {
						text-decoration: none !important;
					}

					button.view-task {
						background: color(grey-light);
						border-color: color(grey-dark);
						color: color(grey-darker);
					}

					button.unpin-task {
						background: color(info);
						border-color: #127FBF;
						color: color(info-dark);
					}

					button.delete-task {
						background: color(danger);
						border-color: #8A041A;
						color: color(danger-dark);
					}
				}

				.task-actions,
				.description {
					display: none;
				}

				&:hover .task-actions {
					display: block;
				}

				.details {
					display: flex;
					align-items: center;
					flex-wrap: wrap;

					.assignee {
						margin: 3px 8px 0 0;
						line-height: 1.1;
						display: flex;
						align-items: center;

						img {
							border-radius: 999px;
							margin: 1px 3px 0 0;
							border: 1px solid color(grey);
						}
					}

					.due {
						margin: 3px 0 0 2px;
					}
				}
			}

			&[data-due-status=past] > div.body .details .due {
				color: #CF1124;
			}

			&[data-due-status=today] > div.body .details .due {
				color: #F35627;
			}

			&[data-due-status=soon] > div.body .details .due {
				color: color(brand-primary);
			}

			.cta-button {
				align-self: center;

				a {
					display: inline-block;
					background: #2BB0ED;
					border-radius: 999px;
					border: 1px solid #1992D4;
					text-shadow: 1px 2px 1px #1992D4;
					text-decoration: none;
					color: color(white);
					font-size: 0.9em;
					padding: 0.2em 1.2em 0.2em;
					font-weight: 400;
					margin-top: 0.15em;
					text-transform: capitalize;

					&[href^="https://app.asana.com/"] {
						background: color(grey-dark);
						border-color: color(grey-darker);
						text-shadow: 1px 2px 1px color(grey-darker);
					}
				}
			}

			/* Completed Tasks */
			&[data-completed=true] > div.body .name {
				text-decoration: line-through;
				color: color(grey);
				font-weight: 400;
			}

			&[data-completed=true] button.mark-complete {
				background: #8EEDD1;
				border-color: #079A82;
				color: #048271;
			}
		}
	}

	/* Alert Banners */
	div.note-box {
		display: flex;
		background: color(grey-lightest);
		border-radius: 0;
		margin: 0;

		div.note-box-dismiss {
			text-align: center;
			padding: 7px 10px;
			background: color(grey-darker);
			color: color(white);
			border-radius: 0;
			display: flex;
			align-items: center;
			cursor: pointer;
		}

		p {
			padding: 10px 12px;
			margin: 0;
			line-height: 1.5em;
			border: 1px solid color(grey-light);
			border-radius: 0;
			color: color(grey-darker);
			text-align: left;
			flex: 1;

			strong {
				font-weight: 700;
				font-size: 1.1em;
				display: inline-block;
				margin: 0 0 7px;
			}

			a.note-box-cta {
				display: inline-block;
				margin: 7px 0 3px;
				background: #E12D39;
				padding: 0.3em 1em;
				color: white;
				border-radius: 999px;
				text-decoration: none;

				&:hover {
					background: #AB091E;
				}

				i {
					margin-left: 0.5em;
				}
			}
		}

		.note-box-error {

			div.note-box-dismiss {
				background: #E12D39;

				&:hover {
					background: #AB091E;
				}
			}

			p {
				background: #FFEEEE;
				color: #D64545;
				border-color: #F29B9B;
			}
		}//end .note-box-error
	}//end .note-box

	/* Footer */
	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 7px 0;
		background: color(grey-lighter);

		a {
			position: absolute;
			right: 12px;

			button {
				background: color(grey-light);
				border-color: color(grey-dark);
				color: color(grey-darker);
			}
		}

		#ptc-asana-tasks-pagination {
			display: flex;
			justify-content: center;
			align-items: center;
			background: color(grey-lighter);

			button {
				margin: 0 2px;
			}
		}
	}//end footer
}//end #ptc-completionist_site-tasks .inside
