@import 'abstracts/colors';
@import 'components/task/TaskOverview';
@import 'components/task/TaskFilters';
@import 'components/task/TaskListPaginated';

//----------------------

#ptc-completionist_site-tasks .inside {
	padding: 0;
	margin: 0;

	.ptc-loading {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 1em;
		color: color(grey);

		i.fas {
			color: color(brand-primary);
			font-size: 1.2em;
			margin: 0.4em;
		}
	}
}//end #ptc-completionist_site-tasks .inside
