@import 'abstracts/colors';

//----------------------

#ptc-completionist_pinned-tasks {

	.inside {
		padding: 0;
		margin: 0;

		button {
			display: inline-block;
			width: 1.25rem;
			height: 1.25rem;
			font-size: 0.9em;
			padding: 0;
			border-radius: 999px;
			outline: none;
			box-shadow: none;
			border: 1px solid color(grey-darker);
			cursor: pointer;
		}

		button[disabled],
		input[disabled],
		select[disabled],
		textarea[disabled] {
			background: color(grey-lightest) !important;
			border-color: color(grey) !important;
			color: color(grey) !important;
			text-shadow: none !important;
		}

		button[disabled] {
			background: color(grey-lighter) !important;
		}

		input,
		select,
		textarea {
			margin: 0;
			box-sizing: border-box;
		}

		input::placeholder {
			color: color(grey);
		}

		/* Pin a Task Toolbar */
		aside#pin-a-task {
			background: color(grey-lightest);
			border-bottom: 1px solid color(grey-lighter);
			padding: 7px 10px;

			#task-toolbar {
				display: flex;
				align-items: center;

				button {
					width: 2em;
					height: 2em;
					font-size: 1em;
					margin-left: 5px;
				}

				input#asana-task-link-url {
					flex: 1;
					display: inline-block;
					height: 2em;
					min-height: 0;
					padding: 0 2.3em 0 1em;
					border-radius: 999px;
					border: 1px solid #1992D4;
				}

				button#submit-pin-existing {
					margin-left: -2em;
					background: color(info);
					border-color: #2BB0ED;
					color: color(info-dark);
				}

				button#toggle-create-new {
					background: color(success);
					border-color: #399709;
					color: color(success-dark);

					&.open {
						background: #E12D39;
						border-color: #8A041A;
						color: color(danger-dark);
					}
				}
			}

			/* New Task Form */
			#pin-new-task {
				margin: 1em 0 0;

				&::after {
					content: '';
					display: block;
					clear: both;
				}

				.form-group {
					display: flex;
					align-items: center;
					margin: 5px 0;

					label {
						width: 5rem;
						display: block;
						margin: 0;
						padding: 0;
						box-sizing: border-box;
					}

					input,
					select,
					textarea {
						flex: 1;
						max-width: calc( 100% - 5rem);
					}
				}

				button#submit-create-new {
					width: auto;
					height: auto;
					font-size: 1em;
					background: color(success);
					border-radius: 999px;
					border: 1px solid #399709;
					text-decoration: none;
					color: color(success-dark);
					font-size: 0.9em;
					padding: 0.3em 0.75em 0.35em;
					font-weight: 600;
					margin: 0.3em 0;
					float: right;

					i {
						margin-right: 0.4em;
					}
				}
			}

			input#ptc-new-task_name {
				width: 100%;
			}
		}//end aside#pin-a-task

		/* Task List */
		main#task-list {

			/* Task Loader Message */
			p.task-loader,
			p.nothing-to-see {
				padding: 12px;
				color: color(grey);
				text-align: center;
				margin: 0;

				i {
					margin-right: 0.35em;
				}
			}

			/* Single task row */
			section.ptc-completionist-task {
				padding: 10px 12px;
				border-bottom: 1px solid color(grey-lighter);
				display: flex;
				color: color(grey-darkest);

				&[data-due-status=past] > div.body .details .due {
					color: #CF1124;
				}

				&[data-due-status=today] > div.body .details .due {
					color: #F35627;
				}

				&[data-due-status=soon] > div.body .details .due {
					color: #17B897;
				}

				/* Completed Tasks */
				&[data-completed=true] > div.body .name {
					text-decoration: line-through;
					color: color(grey);
					font-weight: 400;
				}

				&[data-completed=true] button.mark-complete {
					background: #8EEDD1;
					border-color: #079A82;
					color: #048271;
				}

				button.mark-complete {
					background: color(grey-lightest);
					border-color: color(grey);
					color: color(grey);
				}

				> div.body {
					flex: 1;
					margin-left: 7px;

					.name {
						font-size: 1.05em;
						line-height: 1.25rem;
						font-weight: 500;
					}

					.name i.fa-sticky-note {
						color: #F0B429;
					}

					.details {
						display: flex;
						align-items: center;
						flex-wrap: wrap;

						.assignee {
							margin: 3px 8px 0 0;
							line-height: 1.1;
							display: flex;
							align-items: center;

							img {
								border-radius: 999px;
								margin: 1px 3px 0 0;
								border: 1px solid color(grey);
							}
						}

						.due {
							margin: 3px 0 0 2px;
						}
					}

					.description {
						margin: 7px 0 10px;
					}

					.task-actions,
					.description {
						display: none;
					}

					&:hover .task-actions {
						display: block;
					}

					.task-actions {
						margin: 7px 0 3px;

						a {
							text-decoration: none !important;
						}

						button.view-task {
							background: color(grey-light);
							border-color: color(grey-dark);
							color: color(grey-darker);
						}

						button.unpin-task {
							background: color(info);
							border-color: #127FBF;
							color: color(info-dark);
						}

						button.delete-task {
							background: color(danger);
							border-color: #8A041A;
							color: color(danger-dark);
						}
					}
				}
			}
		}

		/* Alert Banners */
		div.note-box {
			display: flex;
			background: color(grey-lightest);
			border-radius: 0;
			margin: 0;

			div.note-box-dismiss {
				text-align: center;
				padding: 7px 10px;
				background: color(grey-darker);
				color: color(white);
				border-radius: 0;
				display: flex;
				align-items: center;
				cursor: pointer;
			}

			p {
				padding: 10px 12px;
				margin: 0;
				line-height: 1.5em;
				border: 1px solid color(grey-light);
				border-radius: 0;
				color: color(grey-darker);
				text-align: left;
				flex: 1;

				strong {
					font-weight: 700;
					font-size: 1.1em;
					display: inline-block;
					margin: 0 0 7px;
				}

				a.note-box-cta {
					display: inline-block;
					margin: 7px 0 3px;
					background: #E12D39;
					padding: 0.3em 1em;
					color: white;
					border-radius: 999px;
					text-decoration: none;

					&:hover {
						background: #AB091E;
					}

					i {
						margin-left: 0.5em;
					}
				}
			}

			&.note-box-error {

				div.note-box-dismiss {
					background: #E12D39;

					&:hover {
						background: #AB091E;
					}
				}

				p {
					background: #FFEEEE;
					color: #D64545;
					border-color: #F29B9B;
				}
			}
		}
	}//end .inside

	/* Reload Task List Button */
	button#reload-task-list {
		display: block;
		float: right;
		margin: 6px 0;
		width: auto;
		height: calc(36px - (6px * 2));
		background: color(grey-dark);
		border-radius: 3px;
		border: 1px solid color(grey-darker);
		text-shadow: 1px 2px 2px color(grey-darker);
		text-decoration: none;
		color: color(white);
		font-size: 0.9em;
		padding: 0 1.2em;
		font-weight: 400;
		cursor: pointer;
		position: relative;
		z-index: 1;

		i {
			margin-right: 0.4em;
		}

		&[disabled] {
			background: color(grey-lightest);
			border-color: color(grey);
			color: color(grey);
			text-shadow: none;
		}
	}
}//end #ptc-completionist_pinned-tasks

/* GUTENBERG BLOCK EDITOR */
body.block-editor-page #ptc-completionist_pinned-tasks button#reload-task-list {
	position: absolute;
	top: 2px;
	right: 45px;
	margin: 10px;
}
