@use '../../abstracts/badges';
@use '../../abstracts/colors';

//----------------------

.ptc-ProjectStatus {
	margin: 2rem auto;
	padding: 20px;
	border: 2px solid colors.color(grey-lighter);
	border-radius: 1rem;
	overflow: hidden;

	.header-meta {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 10px;

		p {
			margin: 0;
		}
	}

	.status-badge {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		@extend %metadata-badge;

		&::before {
			content: "";
			display: block;
			width: 0.7em;
			min-width: 0.7em;
			height: 0.7em;
			margin: 0 0.5em 0 0;
			border-radius: 50%;
			background: colors.color(grey);
		}

		svg {
			width: 1em;
			min-width: 1em;
			height: 1em;
			margin: 0 0.7em 0 -0.2em;
			fill: currentColor;
		}

		&.--is-complete {
			background: colors.color(asana-status-green);
			border-color: colors.color(asana-status-green);
			color: colors.color(white);

			&::before {
				display: none;
			}
		}
		&.--is-green {
			border-color: colors.color(asana-status-green);

			&::before {
				background: colors.color(asana-status-green);
			}
		}
		&.--is-yellow {
			border-color: colors.color(asana-status-yellow);

			&::before {
				background: colors.color(asana-status-yellow);
			}
		}
		&.--is-red {
			border-color: colors.color(asana-status-red);

			&::before {
				background: colors.color(asana-status-red);
			}
		}
		&.--is-blue {
			border-color: colors.color(asana-status-blue);

			&::before {
				background: colors.color(asana-status-blue);
			}
		}
	}

	.title {
		margin: 20px 0;
	}

	.created {
		@extend %metadata-badge;
	}
}//.ptc-ProjectStatus
