@import '../../abstracts/colors';

//----------------------

.ptc-ProjectSection {

	.ptc-no-results {
		padding: 1em 2em;
		text-align: center;
		border-radius: 10px;
		border: 2px solid color(grey-lighter);
		font-style: italic;
		color: color(grey-dark);
	}

	ol.tasks {
		list-style-type: none;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		border-radius: 10px;
		border: 2px solid color(grey-lighter);
		overflow: hidden;

		> li {

			&:first-child {
				border-top: none;
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}
}//.ptc-ProjectSection
