@import '../../abstracts/colors';

//----------------------

.ptc-ProjectSection {

	ol.tasks {
		list-style-type: none;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}
}//.ptc-ProjectSection
