@use '../../abstracts/animated';
@use '../../abstracts/colors';

//----------------------

.ptc-ProjectTaskList {

	.ptc-loader {
		padding: 2em;
		border-radius: 10px;
		border: 2px dashed colors.color(grey-light);
		background: colors.color(white);
		color: colors.color(grey-dark);

		@include animated.loader;
	}

	.ptc-error {
		padding: 1em 2em;
		text-align: center;
		border-radius: 10px;
		border: 2px solid colors.color(danger-light);
		background: colors.color(danger-lightest);
		color: #b20000;
	}

	.sections-of-tasks {
		margin: 2rem auto 3rem;
		overflow: hidden;
	}
}//.ptc-ProjectTaskList
