@use '../../abstracts/badges';
@use '../../abstracts/colors';

//----------------------

.ptc-ProjectDetails {

	.project-name {
		margin-bottom: 1rem;
	}

	.metadata-badges {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
		gap: 10px;
		margin: 1rem 0 2rem;

		> * {
			@extend %metadata-badge;

			&.completed {
				border-color: colors.color(asana-status-green);
				background: colors.color(asana-status-green);
				color: colors.color(white);

				span {
					color: colors.color(grey-lightest);
				}
			}
		}
	}
}//.ptc-ProjectDetails
