@use "./colors";

// Animations.

@keyframes ptc-loader-spin {

	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

// Styles.

/*
 * Displays a spinning circle loader before
 * the node's inner content and centers the content.
 */
@mixin loader {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.7em;

	&::before {
		content: "";
		display: block;
		padding: 7px;
		margin: 0;
		border-radius: 50%;
		border: 7px solid colors.color(grey-lighter);
		border-top: 7px solid colors.color(grey-dark);
		animation: ptc-loader-spin 1.5s linear infinite;
	}
}
