@import 'colors';

//----------------------

%metadata-badge {
	margin: 0;
	border: 2px solid color(grey-lighter);
	border-radius: 7px;
	padding: 0.3em 1em;
	color: color(grey-darker);

	span {
		text-transform: uppercase;
		font-size: 0.8em;
		letter-spacing: 0.05em;
		color: color(grey-dark);
		margin-right: 1em;
	}
}
