@use "sass:math";

@use "./colors";
@use "./layout";

//----------------------

// Small Buttons

%button-sm {
	width: auto;
	height: auto;
	font-size: 1em;
	border-radius: 999px;
	text-decoration: none;
	font-size: .9em;
	padding: layout.padding(full-sm);
	font-weight: 600;
	margin: .3em .15em;
	cursor: pointer;
	border: 1px solid colors.color(grey-dark);
	outline: none;
	box-shadow: none;

	&[disabled], &[disabled]:hover {
		background: colors.color(grey-lighter) !important;
		border-color: colors.color(grey-dark) !important;
		color: colors.color(grey-dark) !important;
		text-shadow: none !important;
	}
}

%button-sm-brand-primary {
	@extend %button-sm;
	background: colors.color(brand-primary);
	border: 1px solid colors.color(brand-primary-dark);
	color: colors.color(brand-primary-dark);

	&:hover {
		background: colors.color(brand-primary-light);
	}
}

%button-sm-grey {
	@extend %button-sm;
	color: colors.color(black);
	background: colors.color(grey);
	border-color: colors.color(black);

	&:hover {
		background: colors.color(grey-light);
	}
}

%button-sm-grey-dark {
	@extend %button-sm;
	color: colors.color(white);
	background: colors.color(grey-dark);
	border-color: colors.color(grey-darker);
	text-shadow: 1px 1px 3px #{colors.color(grey-darkest)}99;
	letter-spacing: .03em;

	&:hover {
		background: colors.color(grey);
	}
}

%button-sm-info {
	@extend %button-sm;
	background: colors.color(info);
	border: 1px solid colors.color(info-dark);
	color: colors.color(info-dark);

	&:hover {
		background: colors.color(info-light);
	}
}

%button-sm-success {
	@extend %button-sm;
	background: colors.color(success);
	border: 1px solid colors.color(success-dark);
	color: colors.color(success-dark);

	&:hover {
		background: colors.color(success-light);
	}
}

%button-sm-warning {
	@extend %button-sm;
	background: colors.color(warning);
	border: 1px solid colors.color(warning-dark);
	color: colors.color(warning-dark);

	&:hover {
		background: colors.color(warning-light);
	}
}

%button-sm-danger {
	@extend %button-sm;
	background: colors.color(danger);
	border: 1px solid colors.color(danger-dark);
	color: colors.color(danger-dark);

	&:hover {
		background: colors.color(danger-light);
	}
}

// Button Recipes

@mixin btn-pill-outline($color-key: brand-primary, $secondary-color: white) {
	cursor: pointer;
	border: 1px solid colors.color($color-key);
	background: colors.color($secondary-color);
	color: colors.color($color-key);
	border-radius: 999px;
	padding: 0.3em 0.6em;
	font-weight: 500;
	font-size: 1em;
	margin: 0.3em;
	line-height: 1;
	display: inline-block;
	text-decoration: none;

	&.--is-active,
	&:hover {
		background: colors.color($color-key);
		color: colors.color($secondary-color);
	}
}

@mixin btn-circle-icon($size, $color-key: brand-primary, $secondary-color: white) {
	cursor: pointer;
	border: 1px solid colors.color($color-key);
	background: colors.color($secondary-color);
	color: colors.color($color-key);
	border-radius: 999px;
	font-size: math.div($size, 2);
	line-height: 1;
	text-decoration: none;
	width: $size;
	height: $size;
	padding: 0;
	text-align: center;
	display: inline-block;

	&.--is-active,
	&:hover {
		background: colors.color($color-key);
		color: colors.color($secondary-color);
	}

	&[disabled] {
		cursor: not-allowed !important;
		background: colors.color(grey-lighter) !important;
		border-color: colors.color(grey) !important;
		color: colors.color(grey-dark) !important;
	}
}
