@import 'colors';
@import 'layout';

//----------------------

// Small Buttons

%button-sm {
  width: auto;
  height: auto;
  font-size: 1em;
  border-radius: 999px;
  text-decoration: none;
  font-size: .9em;
  padding: padding(full-sm);
  font-weight: 600;
  margin: .3em .15em;
  cursor: pointer;
  border: 1px solid color(grey-dark);
  outline: none;
  box-shadow: none;

  &[disabled], &[disabled]:hover {
    background: color(grey-lighter) !important;
    border-color: color(grey-dark) !important;
    color: color(grey-dark) !important;
    text-shadow: none !important;
  }
}

%button-sm-brand-primary {
  @extend %button-sm;
  background: color(brand-primary);
  border: 1px solid color(brand-primary-dark);
  color: color(brand-primary-dark);

  &:hover {
    background: color(brand-primary-light);
  }
}

%button-sm-grey {
  @extend %button-sm;
  color: color(black);
  background: color(grey);
  border-color: color(black);

  &:hover {
    background: color(grey-light);
  }
}

%button-sm-grey-dark {
  @extend %button-sm;
  color: color(white);
  background: color(grey-dark);
  border-color: color(grey-darker);
  text-shadow: 1px 1px 3px #{color(grey-darkest)}99;
  letter-spacing: .03em;

  &:hover {
    background: color(grey);
  }
}

%button-sm-info {
  @extend %button-sm;
  background: color(info);
  border: 1px solid color(info-dark);
  color: color(info-dark);

  &:hover {
    background: color(info-light);
  }
}

%button-sm-success {
  @extend %button-sm;
  background: color(success);
  border: 1px solid color(success-dark);
  color: color(success-dark);

  &:hover {
    background: color(success-light);
  }
}

%button-sm-warning {
  @extend %button-sm;
  background: color(warning);
  border: 1px solid color(warning-dark);
  color: color(warning-dark);

  &:hover {
    background: color(warning-light);
  }
}

%button-sm-danger {
  @extend %button-sm;
  background: color(danger);
  border: 1px solid color(danger-dark);
  color: color(danger-dark);

  &:hover {
    background: color(danger-light);
  }
}
