@use "sass:math";

// Responsive iframes.

@mixin responsive-iframe-wrapper($width-units: 16, $height-units: 9) {
	display: block;
	position: relative;
	max-width: 100%;
	margin: 0.5rem auto;

	&:before {
		content: "";
		display: block;
		padding-top: math.div($height-units, $width-units) * 100%;
	}

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
