/* CURRENT USER */
section#ptc-asana-user {
  padding-bottom: 80px;
}

section#ptc-asana-user div.asana-connected-profile-photo {
  background: #323F4B;
  margin: -80px -80px 70px;
  border-radius: 7px 7px 0 0;
  position: relative;
}

section#ptc-asana-user div.asana-connected-profile-photo img {
  background: #FFF;
  margin: 60px 0 -50px;
  border-radius: 50%;
  border: 5px solid #BCCCDC;
}

section#ptc-asana-user div.asana-connected-profile-photo i {
  color: #FFF;
  background: #51CA58;
  border-radius: 50%;
  padding: 7px;
  border: 1px solid #31B237;
  text-shadow: 0 1px 2px #0F8613;
  position: absolute;
  bottom: -40px;
  right: 41.5%;
}

section#ptc-asana-user form.ptc-asana-disconnect {
  margin: 2em 0 0;
}

section#ptc-asana-user form.ptc-asana-disconnect input {
  display: block;
  margin: 0 auto 0.75em;
  padding: 0.4em 0.75em 0.5em;
}

section#ptc-asana-user form.ptc-asana-disconnect p.disconnect-notice {
  text-align: center;
  border-radius: 5px;
}

/* CHOSEN WORKSPACE */
section#ptc-asana-workspace {
  padding: 0;
  background: #eceff3;
}

#ptc-asana-workspace-unauthorized,
#ptc-asana-workspace-error {
  margin: 0;
}

section#ptc-asana-workspace p.nothing-to-see {
  background: #f9fbfd;
  margin: 0;
  padding: 2em 2em 2.3em;
  font-style: italic;
  color: #486581;
}

section#ptc-asana-workspace form {
  padding: 0 21px;
}

section#ptc-asana-workspace form > div {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 7px 0;
}

section#ptc-asana-workspace form label {
  display: inline;
}

section#ptc-asana-workspace form label i {
  margin-right: 0.3em;
}

section#ptc-asana-workspace form select {
  width: 33%;
  margin: 0 0.3em;
}

section#ptc-asana-workspace form input[type=submit] {
  padding: 0.3em 1.3em 0.4em;
  width: auto;
  box-sizing: border-box;
  margin: 0;
}

section#ptc-asana-workspace div.ptc-asana-collaborator-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 14px 14px 21px;
  border-top: 1px solid #dcdfe4;
  background: #f9fbfd;
}

section#ptc-asana-workspace div.ptc-asana-collaborator-row:last-of-type {
  border-radius: 0 0 7px 7px;
}

section#ptc-asana-workspace div.ptc-asana-collaborator-row p {
  margin: 0;
}

section#ptc-asana-workspace div.ptc-asana-collaborator-row > div {
  flex: 1;
  text-align: center;
  padding: 0.3em;
}

section#ptc-asana-workspace div.ptc-asana-collaborator-row > div.user {
  display: flex;
  align-items: start;
  align-content: center;
  text-align: left;
}

section#ptc-asana-workspace div.ptc-asana-collaborator-row > div.user div.identity p {
  margin: 0;
  line-height: 1.3;
  font-weight: 600;
  font-size: 1em;
}

section#ptc-asana-workspace div.ptc-asana-collaborator-row > div.user div.identity p.roles {
  text-transform: capitalize;
  font-style: italic;
  font-weight: 400;
}

section#ptc-asana-workspace div.ptc-asana-collaborator-row > div.user img {
  border-radius: 50%;
  border: 1px solid #BCCCDC;
  margin-right: 0.5em;
}

section#ptc-asana-workspace div.ptc-asana-collaborator-row > div.identity p {
  margin: 0;
  line-height: 1.3;
}

section#ptc-asana-workspace div.ptc-asana-collaborator-row > div.email a {
  text-decoration: none;
}

section#ptc-asana-workspace div.ptc-asana-collaborator-row > div.connection-status p i {
  margin-right: 0.3em;
}

section#ptc-asana-workspace div.ptc-asana-collaborator-row > div.connection-status[data-status=yes] p {
  color: #31B237;
  font-weight: 600;
}

section#ptc-asana-workspace div.ptc-asana-collaborator-row > div.connection-status[data-status=no] p {
  color: #829AB1;
}

section#ptc-asana-workspace div.ptc-asana-collaborator-row > div.connection-status a i {
  margin-left: 0.5em;
  font-size: 0.9em;
}
