@use 'abstracts/colors';
@use 'abstracts/layout';
@use 'abstracts/elements';

@use 'admin-theme';

//----------------------

#ptc-completionist-automations-root {
  max-width: 1280px;
  margin: 30px auto 0;
  color: colors.$grey-darkest;

  button {
    cursor: pointer;
  }

  > .ptc-completionist-automations-listing {

    > .title {
      display: flex;
      align-items: flex-end;
      margin-bottom: layout.$lg-em;

      > h1 {
        flex: 1;
        margin: 0;
      }

      > .actions {
        flex: 1;
        text-align: right;
       
        > button {
          @extend %button-sm-success;
          margin-bottom: 0;
          font-size: 1em;
          padding: layout.$sm-em layout.$lg-em;
        }
      }
    }

    > header {
      background: colors.$grey-light;
      border-radius: layout.$md-px;
      border: 2px solid colors.$grey-light;
      padding: layout.$md-em layout.$lg-em;
      margin: layout.$md-px 0;
      display: flex;
      font-weight: 900;

      > div {
        flex: 1;
        text-align: center;
      }

      > div:first-of-type {
        flex: 2;
        text-align: left;
      }
    }

    .ptc-completionist-automations-list {

      .ptc-completionist-automation-row {
        background: colors.$white;
        border-radius: layout.$md-px;
        border: 2px solid colors.$grey-light;
        padding: layout.$full-padding;
        margin: layout.$md-px 0;
        display: flex;
        align-items: center;

        > header {
          flex: 1;

          > h2 {
            font-size: 1.5em;
            margin: 0 0 layout.$sm-px;
            color: #2BB0ED;
            display: inline-block;

            &:hover {
              cursor: pointer;
              color: #40C3F7;
            }
          }

          > p.last-modified {
            color: colors.$grey;
            margin: layout.$sm-px 0 layout.$md-px;
          }

          > p.description {
            margin: -(layout.$sm-px) 0 layout.$md-px;
            font-style: normal;
            color: colors.$grey-darkest;
          }

          > .automation-actions {

            > button {
              margin: layout.$sm-px layout.$md-px 0 0 !important;

              &.edit {
                @extend %button-sm-warning;
              }

              &.delete {
                @extend %button-sm-danger;
              }

              i {
                display: inline-block;
                margin-right: 0.3em;
              }
            }
          }

          > p {
            margin: 0;
          }
        }

        > ul {
          flex: 2;
          display: flex;
          width: 100%;

          > li {
            flex: 1;
            text-align: center;
            font-weight: 600;

            &:not(:last-of-type) {
              font-weight: 900;
              font-size: 1.8em;
            }
          }
        }
      }
    }
  }//end automations listing container

  > .ptc-completionist-automation-create,
  > .ptc-completionist-automation-details {
    max-width: 700px;
    margin: 0 auto;

    > header {
      display: flex;
      align-items: center;

      > button {
        @extend %button-sm-grey-dark;
        margin: 0;
        flex: 1;
        border-color: colors.$grey-dark;
        font-size: 1em;

        > i {
          margin-right: layout.$sm-em;
        }
      }

      > h1 {
        flex: 8;
        margin: 0;
        font-size: layout.$lg-em;
        text-align: center;
      }

      > div.spacer {
        flex: 1;
      }
    }//end automation details header

    > .ptc-completionist-automation-details-form {

      > div {
        background: colors.$white;
        border-radius: layout.$md-px;
        border: 2px solid colors.$grey-light;
        padding: layout.$lg-em layout.$lg-em layout.$lg-em+layout.$sm-em;
        margin: layout.$md-px 0;

        > h2 {
          font-size: 1.5em;
          margin: 0 0 layout.$lg-px;

          > span.automation-step-number {
            background: colors.$brand-primary;
            color: colors.$white;
            display: inline-block;
            border-radius: 50%;
            line-height: 1.4em;
            width: 1.5em;
            height: 1.5em;
            text-align: center;
            vertical-align: baseline;
            margin-right: layout.$sm-em;
          }
        }

        button.remove-item {
          @extend %button-sm-danger;
          color: colors.$white;
          text-shadow: 1px 1px 3px #{colors.$danger-dark}99;
          border: 1px solid colors.$danger;
          padding: layout.$md-em - .25em layout.$lg-em layout.$md-em - .15em;
          margin: 0;
          letter-spacing: .03em;

          > i {
            margin-right: layout.$sm-em;
          }
        }

        button.add-item {
          @extend %button-sm-brand-primary;
          color: colors.$white;
          text-shadow: 1px 1px 3px #{colors.$brand-primary-dark}99;
          border: 1px solid colors.$brand-primary;
          padding: layout.$md-em - .25em layout.$lg-em layout.$md-em - .15em;
          margin: layout.$md-em 0 0;
          letter-spacing: .03em;
          font-size: .95em;

          > i {
            margin-right: layout.$sm-em;
          }
        }

        fieldset {
          border: 1px solid colors.$grey-light;
          border-radius: layout.$md-px;
          padding: layout.$full-padding;
          margin: layout.$md-px 0;
          background: colors.$grey-lightest;

          legend {
            font-weight: 600;
            color: colors.$grey;
            padding: 0 layout.$md-px;
          }
        }

        div.form-group {
          display: flex;
          align-items: center;
          margin: layout.$md-px 0;

          > label {
            width: 5rem;
            margin: 0;
          }

          > input,
          > textarea,
          > select,
          > div.ptc-ajax-search-select-input {
            flex: 1;
            margin: 0;
            max-width: calc( 100% - 5rem );
          }
        }

        input,
        textarea,
        select {
          border-color: colors.$grey-light !important;
        }

        &.automation-info {

          input,
          textarea {
            border-color: #{colors.$grey-light}00;

            &:hover, &:focus {
              border-color: colors.$grey-light;
            }
          }

          input {
            font-size: 1.5em;
            font-weight: 600;
          }

          textarea {
            min-height: 6.2em;
          }

        }//end automation info

        &.automation-event {
          display: flex;
          align-items: center;

          > h2 {
            margin: 0;
            flex: 1;
          }

          > select {
            flex: 2;
          }
        }//end automation event

        &.automation-conditions-list {

          fieldset {
            padding-top: layout.$md-em - .25em;

            .form-group {
              display: flex;
              margin: 0;
              padding: 0;

              select,
              input {
                flex: 1;
                margin-right: layout.$md-px;
              }
            }
          }
        }//end automation condition list

        &.automation-actions-list {

          > fieldset {

            > div.form-group {

              > select {
                flex: 1;
              }

              > div {
                flex: 2;
                text-align: right;
              }
            }

            > div[class^=action-meta] {
              border-top: 1px dashed colors.$grey-light;
              padding-top: layout.$md-px;
            }

            > div.action-meta_create_task {

              > input[id^=ptc-new-task_name] {
                width: 100%;
                font-size: 1.2em;
                font-weight: 600;
              }

              textarea {
                min-height: 10em;
              }

              .ptc-ajax-search-select-input {

                > * {
                  width: 100%;
                  margin: 0;
                }

                > ul.select-options {
                  margin: layout.$md-px 0 0;
                  padding: 0;

                  li.post-option {
                    background: colors.$white;
                    border: 1px solid colors.$grey-light;
                    border-bottom: none;
                    padding: layout.$sm-em layout.$md-em;
                    margin: 0;
                    cursor: pointer;

                    &:hover {
                      background: colors.$grey-lightest;
                    }

                    &:first-of-type {
                      border-radius: 5px 5px 0 0;
                    }

                    &:last-of-type {
                      border-radius: 0 0 5px 5px;
                      border-bottom: 1px solid colors.$grey-light;
                    }
                  }
                }
              }
            }
          }
        }//end automation actions list

      }//end automation details form section div

      > button.save-automation {
        @extend %button-sm-brand-primary;
        padding: layout.$md-em;
        color: colors.$white;
        text-shadow: 1px 1px 3px #{colors.$brand-primary-dark}50;
        font-weight: 600;
        font-size: 1.5em;
        border-radius: layout.$md-px;
        border: 2px solid colors.$brand-primary;
        margin: 0 auto;
        display: block;
        width: 33%;
        letter-spacing: layout.$sm-em/5;

        &:hover {
          background: colors.$brand-primary-light;
        }

        > i {
          margin-right: layout.$sm-em;
        }
      }
    }//end automation details form
  }//end automation details container
}//end automations root container