// Neutrals

$white: #FFFFFF;

$grey-lightest: #F0F4F8;
$grey-lighter: #D9E2EC;
$grey-light: #BCCCDC;
$grey: #829AB1;
$grey-dark: #627D98;
$grey-darker: #334E68;
$grey-darkest: #243b53;

$black: #1F2933;

// Colors

$brand-primary: #17B897;

$info-light: #5ED0FA;
$success-light: #8DED2D;
$warning-light: #FADB5F;
$danger-light: #F86A6A;

$info: #40C3F7;
$danger: #EF4E4E;
$success: #6CD410;
$warning: #F7C948;

$info-dark: #035388;
$danger-dark: #610316;
$success-dark: #1E5303;
$warning-dark: #B44D12;