@use 'colors';
@use 'layout';

// Small Buttons

%button-sm {

  width: auto;
  height: auto;
  font-size: 1em;
  border-radius: 999px;
  text-decoration: none;
  font-size: .9em;
  padding: layout.$full-padding-sm;
  font-weight: 600;
  margin: .3em .15em;
  cursor: pointer;
  border: 1px solid colors.$grey-dark;

  &[disabled], &[disabled]:hover {
    background: colors.$grey-lighter !important;
    border-color: colors.$grey-dark !important;
    color: colors.$grey-dark !important;
    text-shadow: none !important;
  }

}

%button-sm-brand-primary {

  @extend %button-sm;
  background: colors.$brand-primary;
  border: 1px solid colors.$brand-primary-dark;
  color: colors.$brand-primary-dark;

  &:hover {
    background: colors.$brand-primary-light;
  }

}

%button-sm-info {

  @extend %button-sm;
  background: colors.$info;
  border: 1px solid colors.$info-dark;
  color: colors.$info-dark;

  &:hover {
    background: colors.$info-light;
  }

}

%button-sm-success {

  @extend %button-sm;
  background: colors.$success;
  border: 1px solid colors.$success-dark;
  color: colors.$success-dark;

  &:hover {
    background: colors.$success-light;
  }

}

%button-sm-warning {

  @extend %button-sm;
  background: colors.$warning;
  border: 1px solid colors.$warning-dark;
  color: colors.$warning-dark;

  &:hover {
    background: colors.$warning-light;
  }

}

%button-sm-danger {

  @extend %button-sm;
  background: colors.$danger;
  border: 1px solid colors.$danger-dark;
  color: colors.$danger-dark;

  &:hover {
    background: colors.$danger-light;
  }

}

// Medium Buttons
