// Measurements

$sm-px: 3px;
$md-px: 7px;
$lg-px: 12px;

$sm-em: .3em;
$md-em: .75em;
$lg-em: 1.3em;

$full-padding-sm: $sm-em $md-em .35em;
$full-padding: 1em $lg-em 1.2em;

$side-padding-sm: 0 $md-em;
$side-padding: 0 $lg-em;